*{
	padding: 0;
	border: 0;
	margin: 0;
}
html,body {
	width: 100%;
	height: 100%;
}
body{
	min-width: 1250px;
}

#fangx_setting {
	width: 70%;
	height: 100%;
	border: 2px;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-style: solid;
}

#fangx_titleone {
	position: relative;
	left: 1%;
	font-size: 2rem;
	font-weight: bold;
}

#fangx_titletwo {
	position: relative;
	left: 3%;
	font-size: 1.5rem;
}

#fangx_box {
	width: 90%;
	height: 100px;
	line-height: 100px;
	margin: auto;
	border: 1px;
	border-color: #bbbbbb;
	border-style: solid;
}
.fangx_float{
	float: left;
	list-style: none;
}
#fangx_font_one{
	position: relative;
	left: 5%;
	font-weight: bold;
}
#fangx_font_two{
	position: relative;
	left: 10%;
	font-weight: bold;
}
.fangx_textdate{
	position:relative;
	left:30%;
	width: 25%;
	height: 30px;
	border: 2px;
	outline:none;
		border-radius:2px 2px;
	border-color: #bbbbbb;
	border-style: solid;
	
}
#fangx_text_one{
	width:200px;
	height:20px;
	position:relative;
	outline:none;
	left:25%;
	border: 2px;
	border-radius:2px 2px;
	border-color: #bbbbbb;
	border-style: solid;
}
#fangx_zhi{
position:relative;
	left:30%;
}
#fangx_button_one{
	width:40px;
	height:25px;
	position:relative;
	left:1%;
	border: 1px;
	border-color: #bbbbbb;
	border-radius:2px 2px;
	border-style: solid;
}
#fangx_button_two{
	width:40px;
	height:25px;
	position:relative;
	left:1%;
	border: 1px;
	border-color: #bbbbbb;
	border-radius:2px 2px;
	border-style: solid;
}
#fangx_rim{
	border: 2px;
	border-color: #bbbbbb;
	border-style: solid; 
	width: 85%; 
	height: 95%;
	margin: auto;
	position: relative; 
	top: 5px;
}
#fangx_rimone{
	border-left:1px solid #bbbbbb;
	width:100%;
	height: 15%;
}
#fangx_rimtwo{
	width: 100%;
	height: 78%;
	background-color: #bbbbbb;
	border-top:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
overflow-y: scroll;
}
#fangx_rimthree{
	width: 100%;
	height:7%;
}
#fangx_textbox{
	border:1px solid #bbbbbb;
	outline:none;
	padding:2px;
	width: 40px;
	height: 18px;
}
table{
	width: 98%;
	height: 100%;
}
tr{
	width: 100%;
	height: 100%;
}
td{
	font-weight:bold;
	border-right: 1px solid #bbbbbb;
}