.total{
	width: 89%;
	height: 96%;
	margin: auto;
	border: 2px solid #000000;
	padding: 0.5%;
	display: flex;
	flex-direction:column;
} 
.head_run{
	flex:1;
	height:25%;
	flex-direction:column;
	display: flex;
}
.head_text{
	flex:1;
	font-size: 30px;
}
.head_body{
	flex:1;
	flex-direction:column;
	display: flex;
}

.read_text{
	flex:1;
	margin-left: 1%;
	font-size: 16px;
}
.read_text_body{
	flex:1;
}
.read_text_body span{
	float: left;
	margin-left: 2%;
}
.but{
	float: right;
	font-size:13px;
	padding: 0.5%;
	margin-right: 1%;
}
.bood_run{
	flex:3;
	height:75%;
}
.table_run{
	height: 100%;
	width: 85%;
	border: 1px solid #000000;
	display: flex;
	flex-direction:column;
}
.list_head{
	flex:1;
	padding: 1%;
	background-size:100% 100%; 
	font-size:18px;
	border-bottom: 1px solid #000000;
}
.list_body{
	flex:18;
	overflow: auto;
}
.list_leg{
	flex:1;
	border-top:1px solid #000000;
	padding: 0.6%;
		line-height: 26px;
}.total_option{
	width: 40%;
	height: 100%;
	float: left;
	display: flex;

}
.rl_button{
	width:30%;
	display: flex;
	list-style: none;
}
.rl_button li{
	float: left;
	flex:1;
	text-align: center;
}
.rl_button li img{
	width: 40%;
	cursor: pointer;
}
.page{
	width:70%;
	font-size:18px;
}
.strip{
	float: right;
	height: 100%;
	font-size: 16px;
}
.elastic{
	float: right;
	background: #a7c0fc;
	padding: 0.2% 0.7% 0.2% 0.7%;
	cursor: pointer;
}
.list_body ul{
	width: 100%;
	list-style:none;
	display: flex;
}
.list_body ul li{
	width: 100%;
	font-size:16px;
	border-right: 1px solid #000000; 
	border-bottom: 1px solid #000000; 
	padding: 0.6%;
	}
.arrow{
	width: 1.7%;
	padding: 0.6%;
	float: left;
	cursor: pointer;
}
.file{
	width: 5%;
	padding: 0.6%;
	float: left;
}
.elasticUl{
	padding: 0.5%;
	list-style: none;
	width: 100%;
}
.elasticUl li{
	width: 20%;
	float: left;
}