<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>GoshenFilter</filter-name>
  	<display-name>GoshenFilter</display-name>
  	<description></description>
  	<filter-class>goshen.education.util.GoshenFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>GoshenFilter</filter-name>
  	<url-pattern>/GoshenFilter</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>goshen.education.util.GoshenListener</listener-class>
  </listener>
</web-app>
